.footer {
  background: #ac7322;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-logo img {
  width: 250px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  text-align: left;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-section ul li a:hover {
  color: #21dadb;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer-links {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .footer-section {
    width: 100%;
  }

  .footer-logo img {
    width: 200px;
  }
}
